body{
    background-color: olive;
}

.gamearea{
    width: 700px;
    height: 700px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: absolute;
    left: 33.3333%;
    top: 21.22%;
    
}

button{
    height: 70%;
    width: 70%;
    border-radius:25px;
    margin: 3px;
    border: 8px solid black;
}

.red_btn{
    background-color: red;
}

.blue_btn{
    background-color: blue;
}

.yellow_btn{
    background-color: yellow;
}

.green_btn{
    background-color: green;
}

.blink{
    background-color: silver;
}